/*
 RichText: WYSIWYG editor developed as jQuery plugin

 @name RichText
 @author https://github.com/webfashionist - Bob Schockweiler - richtext@webfashion.eu

 Copyright (C) 2020 Bob Schockweiler ( richtext@webfashion.eu )

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published
 by the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
.richText {
  
  position: relative;
  background-color: #fff;
  border: #EFEFEF solid 1px;
  color: #000!important;
  width: 100%;
  font-size: 0.8rem;

}
.richText .richText-form {
  font-family: Calibri, Verdana, Helvetica, sans-serif;
  text-decoration: none;
}
.richText .richText-form label {
  display: block;
  padding: 5px 4px;
  text-decoration: none;
  color: #333;
}
.richText .richText-form input[type=text], .richText .richText-form input[type=file], .richText .richText-form input[type=number], .richText .richText-form select {
  padding: 5px 5px;
  border: #fcf9f9 solid 1px;
  min-width: 200px;
  width: 100%;
  text-decoration: none;
}
.richText .richText-form select {
  cursor: pointer;
  text-decoration: none;
}
.richText .richText-form button {
  margin: 5px 0;
  padding: 5px 5px;
  background-color: #d8d9da;
  border: none;
  color: #000;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  text-decoration: none;

}
.richText .richText-toolbar {
  position: sticky;
  top: 0;
  min-height: 15px;
  background-color: inherit;
  border-bottom: #EFEFEF solid 1px;
  text-decoration: none;
}
.richText .richText-toolbar ul {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.richText .richText-toolbar ul li {
  float: left;
  display: block;
  list-style: none;
  text-decoration: none;
  color: #333;
}
/*color de los botones*/
.richText .richText-toolbar ul li a {
  display: block;
  padding: 4px 7px;
  border-right: #EFEFEF solid 1px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: background-color 0.4s;
}
.richText .richText-toolbar ul li a .fa, .richText .richText-toolbar ul li a .fas, .richText .richText-toolbar ul li a .far, .richText .richText-toolbar ul li a svg {
  pointer-events: none;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer .richText-dropdown {
  position: relative;
  display: block;
  margin: 3% auto 0 auto;
  background-color: #FAFAFA;
  border: #EFEFEF solid 1px;
  min-width: 100px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 0 5px 0 #333;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer .richText-dropdown .richText-dropdown-close {
  position: absolute;
  top: 0;
  right: -23px;
  background: #FFF;
  color: #333;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  width: 20px;
  text-decoration: none;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown {
  list-style: none;
  text-decoration: none;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li {
  display: block;
  float: none;
  font-family: Calibri, Verdana, Helvetica, sans-serif;
  text-decoration: none;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li a {
  display: block;
  padding: 10px 15px;
  border-bottom: #EFEFEF solid 1px;
  text-decoration: none;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li a:hover {
  background-color: #FFFFFF;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li.inline {
  margin: 10px 6px;
  float: left;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li.inline a {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 #999;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer ul.richText-dropdown li.inline a span {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer div.richText-dropdown {
  padding: 10px 15px;
}
.richText .richText-toolbar ul li a:hover {
  background-color: #FFFFFF;
}
.richText .richText-toolbar ul li[data-disable=true] {
  opacity: 0.1;
}
.richText .richText-toolbar ul li[data-disable=true] a {
  cursor: default;
}
.richText .richText-toolbar ul li:not([data-disable=true]).is-selected .richText-dropdown-outer {
  display: block;
}
.richText .richText-toolbar ul:after {
  display: block;
  content: "";
  clear: both;
}
.richText .richText-toolbar:last-child {
  font-size: 12px;
}
.richText .richText-toolbar:after {
  display: block;
  clear: both;
  content: "";
}
.richText .richText-editor {
  padding: 20px;
  background-color: #FFFFFF;
  border-left: #FFFFFF solid 2px;
  font-family: Calibri, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  height: 300px;
  outline: none;
  overflow-y: scroll;
  overflow-x: auto;
}
.richText .richText-editor[placeholder]:before {
  content: attr(placeholder);
  color: #555;
}
.richText .richText-editor ul, .richText .richText-editor ol {
  margin: 10px 25px;
}
.richText .richText-editor table {
  margin: 10px 0;
  border-spacing: 0;
  width: 100%;
}
.richText .richText-editor table td, .richText .richText-editor table th {
  padding: 10px;
  border: #EFEFEF solid 1px;
}
.richText .richText-editor:focus {
  border-left: #3498db solid 2px;
}
.richText .richText-initial {
  margin-bottom: -4px;
  padding: 10px;
  background-color: #282828;
  border: none;
  color: #33FF33;
  font-family: Monospace, Calibri, Verdana, Helvetica, sans-serif;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 400px;
  height: 400px;
}
.richText .richText-help {
  float: right;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
}
.richText .richText-undo,
.richText .richText-redo {
  float: left;
  display: block;
  padding: 10px 15px;
  border-right: #EFEFEF solid 1px;
  cursor: pointer;
}
.richText .richText-undo.is-disabled,
.richText .richText-redo.is-disabled {
  opacity: 0.4;
}
.richText .richText-help-popup a {
  color: #3498db;
  text-decoration: underline;
}
.richText .richText-help-popup hr {
  margin: 10px auto 5px auto;
  border: none;
  border-top: #EFEFEF solid 1px;
}
.richText .richText-list.list-rightclick {
  position: absolute;
  background-color: #FAFAFA;
  border-right: #EFEFEF solid 1px;
  border-bottom: #EFEFEF solid 1px;
}
.richText .richText-list.list-rightclick li {
  padding: 5px 7px;
  cursor: pointer;
  list-style: none;
}/*# sourceMappingURL=richtext.css.map */