.mp-0{
    margin: 0 !important;
    padding: 0 !important;
}

.mt-10{
    margin-top: 10px!important;
}
.mt-15{
    margin-top: 15px!important;
}
.mt-25{
    margin-top: 25px!important;
}
.mt-50{
    margin-top: 50px!important;
}
.mt-100{
    margin-top: 100px!important;
}
.mt-150{
    margin-top: 150px!important;
}
.mb-10{
    margin-bottom: 10px!important;
}
.mb-15{
    margin-bottom: 15px!important;
}
.mb-25{
    margin-bottom: 25px!important;
}
.mb-50{
    margin-bottom: 50px!important;
}
.mb-100{
    margin-bottom: 100px!important;
}
.mb-150{
    margin-bottom: 150px!important;
}
.ml-10{
    margin-left: 10px!important;
}
.ml-15{
    margin-left: 15px!important;
}
.ml-25{
    margin-left: 25px!important;
}
.ml-50{
    margin-left: 50px!important;
}
.ml-100{
    margin-left: 100px!important;
}
.ml-150{
    margin-left: 150px!important;
}
.mr-10{
    margin-right: 10px!important;
}
.mr-15{
    margin-right: 15px!important;
}
.mr-25{
    margin-right: 25px!important;
}
.mr-50{
    margin-right: 50px!important;
}
.mr-100{
    margin-right: 100px!important;
}

.cont-pagination{
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 5px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color: #07b99c;
    color: white;
    border: 1px solid #07b99c;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.mtopcat{
    margin: 0;
    padding: 0;
    margin-top: -50px!important;
    display: block;
}

.mtopnews{
    margin: 0;
    padding: 0;
    margin-top: 15px!important;
    display: block;
}
.wapper{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
}

.preview-container{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 45px;
    width: 100%;
    height: 250px;
    cursor: pointer;
    align-items: center;
    object-fit: cover;
}



#new_portada{
    display: none;
}

.icon {
    color: #c7c9c8;
}

.icontb{
    color: #fff;
}

.profile_pic{
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    width: 150px;
    height:150px;
    overflow: hidden;
    cursor: pointer;
}

.vista_previa{
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    background-color: #07b99c;
    margin: 10px;
    width: 350px;
    height: 350px;
}
.btncrop{
    margin: 0 auto;
    padding: 0 auto;
    display: block;
    width: 100px;
    height: 35px;
    background-color: #07977f;
    color: #fff;
    border-radius: 7px;
    border: none;
    margin-top: 20px;

}
.FileInput{
    display: none;
}
.cont-etiquetas{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 5px;
}
.etiqueta {
    width: auto;
    max-width: 130px;
    height: 22px;
    font-size: 10px!important;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(220, 233, 233);
    padding: 4px;
    margin: 2px!important;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.etiqueta:hover {
    color: #fff;
    background-color:rgb(136, 146, 146);;
}

.etiqueta_al {
    width: auto;
    max-width: 130px;
    height: 22px;
    font-size: 10px!important;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(5, 252, 157, 0.568);
    padding: 4px;
    margin: 2px!important;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}


.etiqueta_al:hover {
    color: #fff;
    background-color: rgba(4, 128, 80);
}

@media only screen and (max-width: 600px) {
    .wapper{
        margin: 0 auto;
        padding: 0 auto;
        width: 100%;
        
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        justify-items: center;
        overflow: hidden;
        
    }
    .preview-container {
      font-size: 30px;
      max-width: 90%;
      max-width: 400px;
      object-fit: cover;
    }

  }