@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&family=Roboto:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}

/*****************************/
/*       CONTENEDOR         */ 
/****************************/
.contenedor{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    max-width: 1280px;
}

/*****************************/
/*    CABECERA               */ 
/****************************/
.navbar-nav{
    margin-right: 50px;
}
.navbar-nav li{
   margin-left: 20px;
   font-size: 1.2rem;
    
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-150 {
    margin-top: 150px !important;
}


.mb-10 {
    margin-bottom: 10px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.ml-10 {
    margin-left: 10px !important;
}
.ml-25 {
    margin-left: 25px !important;
}
.ml-50 {
    margin-left: 50px !important;
}

.bg-img{
    height: 100vh;
    z-index: -1;
}

.btn-search{
    display: block;
    margin-top: 30px;
}

.error {
    border: 1px solid red;
}

.valido {
    border: 1px solid rgb(1, 141, 94);
}

  
  .error-span {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 10px;
  }

/*****************************/
/*         footer            */ 
/****************************/

.footer{
    padding: 0 auto;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}